.animated-text {
    background: linear-gradient(90deg,
            #FFC107,
            /* honey yellow */
            #FFB300,
            /* darker honey */
            #9B59B6,
            /* AI purple */
            #4A90E2
            /* AI blue */
        );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

:root {
    --wht: #fcfcfc;
    --wht2: rgba(244, 244, 244, 0.571);
    --acc: #f2f2f2;
}

.dark {
    --wht: #17171778;
    --wht2: #27272720;
    --acc: #2c2c2c;
}

.animated-loading-color::after {
    content: "";
    position: absolute;
    left: 0;
    background: #ffffff;
    background: linear-gradient(90deg, var(--wht2) 0%, var(--wht) 40%, var(--wht) 60%, var(--wht2) 100%);
    height: 200%;
    width: 40%;
    left: 40;
    transform: rotate(20deg);
    animation: gradientMove2 2s infinite;
}

.animated-loading-color {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--acc);
}


@keyframes gradientMove2 {
    0% {
        left: -50%;
    }

    100% {
        left: 250%;
    }
}